Workflow Supabase Gdocs.json
{
  "name": "Workflow Supabase Gdocs",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FPS4VFuX5VMXzNkw_dpkfRsPxyVukkfQ",
          "mode": "list",
          "cachedResultName": "SIB Mandiri AI for Business",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FPS4VFuX5VMXzNkw_dpkfRsPxyVukkfQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5b21bcb5-5c0b-433e-8dda-d6458a465435",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JQEjwB7XLbJju4qK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "135520d9-1535-4ec4-9c80-59bd0dc75dab",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "bd6b2b25-7cdf-4194-b5ef-3cd30bbd3032",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "ac309dd1-b56a-483e-9f80-16b2e3429da9",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JQEjwB7XLbJju4qK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "f10ebe7e-df7e-49fa-af53-d2c1bcdf16ed",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        864,
        -32
      ],
      "id": "4ad3e91a-b69d-41c9-9580-2ee7ae24b31d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "2LtOTi5FR266RtsR",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1024,
        192
      ],
      "id": "24f3fa69-9aeb-477c-8b36-8e083414605d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1184,
        336
      ],
      "id": "350d2172-7345-49c9-b52c-e4011eef74f2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        848,
        192
      ],
      "id": "d8bfb5e6-6715-4617-9c78-eb48278426da",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "EPim1E4JQodluBlo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Anda adalah asisten akademik spesialis penyusunan Tugas Akhir (TA). Tugas Anda adalah menjawab pertanyaan pengguna HANYA berdasarkan informasi yang diambil dari Supabase Vector Store. Format jawaban Anda harus jelas dan sistematis. Jika informasi yang ditanyakan tidak ada dalam dokumen referensi, jawab dengan sopan: 'Maaf, saya tidak menemukan informasi tersebut di dalam pedoman penulisan TA saat ini."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        464
      ],
      "id": "6dc3c445-8446-4c2d-b7d8-12571b48564f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        704
      ],
      "id": "4a9d48f2-36e3-4d10-91af-20e6baddd112",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EPim1E4JQodluBlo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Gunakan Tool ini untuk menjawab SEMUA pertanyaan terkait aturan, pedoman, kriteria, dan isi penulisan ilmiah Tugas Akhir (TA) atau Skripsi.",
        "tableName": {
          "__rl": true,
          "value": "document",
          "mode": "list",
          "cachedResultName": "document"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        816,
        560
      ],
      "id": "0db9bfba-9e36-437b-bce5-73c584e668c2",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "2LtOTi5FR266RtsR",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        768
      ],
      "id": "2a4407ec-8e33-4cb7-9b03-e08ef39ab4d1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "EPim1E4JQodluBlo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        544,
        688
      ],
      "id": "da2e5992-112e-44d0-bdbc-72df2a2ce508",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "DctYu6hi1N8dICBX",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Halo Semuanya! 👋\nNama saya ASTA Asisten Tugas Akhir. Apakah ada yang bisa saya bantu ?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        192,
        464
      ],
      "id": "f85b0907-2f23-405d-b2a8-3dc8de1a6623",
      "name": "When chat message received",
      "webhookId": "467ca3b8-6039-4bb8-97ab-605f3685d6ea"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea2cb87c-c3ee-4e1b-9394-7bdfb72f9aea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80c05027a60ce01e6afc4f7bcd46a18983fa94f83358843d4b3084f0d03e6af1"
  },
  "id": "qCUmCq7sNTb7kxM5",
  "tags": []
}